<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">Document Name</th>
    <th class="govuk-table__header" scope="col">View</th>
    <th class="govuk-table__header" scope="col" style="display: inline-flex">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input type="checkbox" class="govuk-checkboxes__input">
          <label class="govuk-label govuk-checkboxes__label"></label>
        </div>
      </div>
    </th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row" *ngFor="let case of cases">
    <th class="govuk-table__header" scope="row">{{case.name}}</th>
    <td class="govuk-table__cell">
      <button class="govuk-button" [value]="case.DM_URI">View</button>
    </td>
    <td class="govuk-table__cell">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input type="checkbox" class="govuk-checkboxes__input">
          <label class="govuk-label govuk-checkboxes__label">
          </label>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
