<app-panel [title]="'Bundle Details'" [description]="'Name bundle and provide description'"></app-panel>
<div class="govuk-width-container">
  <div id="bundle-details-container">
    <form>
      <div [ngClass]="bundleName.touched && !bundleName.valid ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'">
        <div id="bundle-name">
          <label class="govuk-label" for="name">
            Bundle name <span>&#42;</span>
          </label>
          <span id="first-name-error" class="govuk-error-message" *ngIf="bundleName.touched && !bundleName.valid">
            Enter the name for the bundle
          </span>
          <input id="name" type="text"
                 required
                 [ngModel]="name"
                 name="name"
                 #bundleName="ngModel"
                 [ngClass]="bundleName.touched && !bundleName.valid ? 'govuk-input govuk-input--error' : 'govuk-input'">
        </div>
      </div>
      <div class="govuk-form-group">
        <div id="bundle-description">
          <label class="govuk-label" for="description">
            Bundle description
          </label>
          <textarea class="govuk-textarea" id="description" name="description" rows="5" aria-describedby="more-detail-hint" [(ngModel)]="description"></textarea>
        </div>
      </div>
    </form>
  </div>
  <a routerLink="/bundle/import/:id" class="govuk-button" id="next" (click)="saveBundleDetails()">Save</a>
  <a routerLink="/bundle/import/:id" class="govuk-button" id="back" (click)="this.location.back()">Back</a>
</div>
