#bundle-details-container {
  width: 40%;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #bundle-details-container {
    width: 100%;
  }

  #govuk-panel {
    padding: 3rem 0;
  }
}

form {
  padding-top: 20px;
}

#next {
  float: right;
}
