<th class="govuk-table__header" scope="row">{{document.name}}</th>
<td class="govuk-table__cell">
  <button class="govuk-button" [value]="document.DM_URI">Preview</button>
</td>
<td class="govuk-table__cell">
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input #input type="checkbox" class="govuk-checkboxes__input" id="{{document.id}}" [checked]="checked" (click)="updateCheck()">
      <label class="govuk-label govuk-checkboxes__label">
      </label>
    </div>
  </div>
</td>
