<div class="govuk-grid-column-one-quarter">
  <button type="submit" class="govuk-button">
    Edit bundle details
  </button>
</div>
<div class="govuk-grid-column-full">
  <app-panel [title]=bundleTitle [description]=bundleDescription></app-panel>
</div>
<div class="govuk-grid-column-one-quarter">
  <button type="submit" class="govuk-button">
    Duplicate bundle
  </button>
</div>
<div class="govuk-grid-column-one-quarter">
  <button type="submit" class="govuk-button">
    Archive bundle
  </button>
</div>
<div class="govuk-grid-column-one-third">
  <a class="govuk-button" [routerLink]="['/bundle','import',bundleId]">Add/Remove documents</a>
</div>
<div class="govuk-grid-column-full">
  <bundle-documents [documents]="documents$ | async"
                    (stitchBundle)="stitchBundle($event)">
  </bundle-documents>
</div>
