/* You can add global styles to this file, and also import other style files */
$path: "/public/images/";
@import 'govuk-elements';
@import '../node_modules/govuk_template_jinja/assets/stylesheets/govuk-template.css';
@import '../node_modules/govuk_template_jinja/assets/stylesheets/fonts.css';


a {
  cursor: pointer;
}

.button-warning{
  @include button($grey-2);
}

.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


